<h1> Define: <%= @explain.explanation() %></h1>

<a href="/<li><a href="/definitions/<%= explain.id()%>"><%= explain.explanation() %></a>
<% end %>
<% @explain.each() do |explain|%>
<p>Define: <%= explain.explanation()%></p>
<% end %>


<a href="/definition/<%= @definition.id()%>/definition/new ">Add a Definition</a>


<a href="/">Home</a>
