<h1> Word: <%= @word.learn() %></h1>

<a href="/<li><a href="/words/<%= word.id()%>"><%= word.learn() %></a>
<% end %>
<% @word.each() do |word|%>
<p>word: <%= word.learn()%></p>
<% end %>


<a href="/definition/<%= @definition.id()%>/definition/new ">Add a Definition</a>


<a href="/">Home</a>
